.header {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px 15px 0px 0px;
    background-color: #ffffff55;
    padding: 10px;
    
    
  }
  
  .header h2 {
  text-align: center;
    flex: 1; /* Take up remaining space */
    color:#494949
    
  }
  
  .header span {
    display: flex;
    cursor: pointer;
    color: #3e3e3e;
    align-items: center;
    
    margin-right:15px;
  }
  
  
/* Styles for the Add User modal */
/* AddUserModal.css */

/* AddUserModal.css */

/* AddUserModal.css */

.add-user-modal {
  position: fixed;
  height: fit-content;
  width: 400px;
  border-radius: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 1001; /* Set a higher z-index for the modal */
  background-image: url('../../../public/img/bg_11.jpg'); /* Add the path to your image */
  background-size: cover; /* Adjust as needed */
  background-position: center; /* Adjust as needed */
}

/* New style for the modal backdrop */
.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1000; /* Set a z-index lower than the modal */
}

  .add-user-modal h3 {
    margin-bottom: 10px;
  }
  
  .add-user-modal label {
    display: block;
    margin-bottom: 10px;
    margin-right: 10px;
  }
  
  .add-user-modal input {
    width: calc(100% - 40px);
    padding: 5px;
    font-size: 16px;
    border: 1px solid #2bc0a2;
    border-radius: 7px;
    margin: 5px;
  }
  
  .add-user-modal input:nth-child(1) {
    margin-top: 20px;
    width: calc(100% - 40px);
    padding: 15px;
    font-size: 16px;
    border: 1px solid#2bc0a2;
    border-radius: 7px;
  }
  
  .button-container {
    display: flex;
    align-items: center;
  }
  
  .add-user-modal input:hover {
    border: 1px solid #208974;
  }
  
  .add-user-modal button {
    width: 100px;
    padding: 12px;
    background-color:  #2bc0a2;
    display: flex;
    align-items: center;
    justify-content: center; 
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
    margin-right: 10px;
    transition: background-color 0.3s;
  }
  
  .add-user-modal button:hover {
    background-color: #249982;
  }
  
  
  
  /* New style for the modal backdrop */
  .modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 999;
  }
  