.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .card-container {
    width: 400px; 
    
  }
  .card-container h2{
    text-align: center;
    
  }
  
  .passtextFields {
    width: 100%;
    margin-bottom: 10px;
  }
  
  
  