
.user-list-container {
  width: 320px;
  max-height: 100vh;
  padding: 1px;
  overflow-y: auto;
 
}
 
.user-list-container h2 {
  margin-left: 35px;
  border-bottom: 1px solid #d3d0d0;
  padding-top: 6px;
  padding-bottom: 20px;
}
 
.search-bar {
 
  border-top: 1px solid #ddd;
 
  margin-bottom: 10px;
 
  border-radius: 0;
  font-size: 14px;
  margin: 9px;
  padding: 14.5px;
}
 
.user-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  height: calc(100% - 60px);
  font-weight: bold;
 
}
 
.user-list li {
 
  cursor: pointer;
 
  padding: 10px;
 
  background-color: #edf0f5;
  padding-left: 30px;
}
 
.user-list li:hover {
  background-color: #cee6f3;
  transform: scale(101%);
}
 
 
 
.user-list-container::-webkit-scrollbar {
  width: 0;
  height: 0;
}
 
li.selected-user {
  background-color: #f5f5f5;
 
}
 
.default-quote{
  color: black;
}