.kanban-board {
    display: flex;
    justify-content: space-around;
    padding: 20px;
  }
  
  .column {
    border: 1px solid #ddd;
    padding: 10px;
    width: 200px;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    margin-bottom: 5px;
    padding: 5px;
    cursor: grab;
  }
  
  button {
    margin-top: 10px;}