
/* kanban.css */
 
.kanban-board {
  display: flex;
  /* position:relative; */
  /* gap: 20px; */
  overflow-x: scroll;
  overflow-y: scroll;
  padding-left: 80px;
  padding-right: 140px;
  padding-top: 0px;
}
 /* git  changes */
.ncbtn {
  position: absolute;
  top: 65px;
  right: 20px;
  z-index: 1000;
  background-color: rgb(0, 20, 45);
  color:#fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.column {
  flex: 1;
  padding: 16px;
  border: 1px solid #dddddd00;
  border-radius: 8px;
  background-color: #f5f5f56f;
}
 
.column h2 {
  margin-bottom: 12px;
  text-align: center;
  color: #2eab4d;
}
 
.column ul {
  padding-top: 20px;
  list-style-type: none;
  padding: 0;
  
}
 
.column li {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 8px;
  color: #393939;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  border-left: 3px solid rgb(174, 177, 254);
  transition: background-color 0.3s ease-in-out;
  /* Smooth transition on hover */
  padding-left: 16px;
  padding: 2px;
  /* Add padding to the list items for better spacing */
}
 
.column li h2 {
  text-align: left;
  margin-bottom: 8px;
  /* Adjust margin for better spacing */
  padding-left: 16px;
}
 
 
 
.column li:hover {
  background-color: rgb(236, 232, 232);
}
 
.score {
  text-align: center;
  width: 40px;
  background-color: #55ffc9;
  border-radius: 20px;
  /* Make the score container circular */
  justify-content: center;
}
 
 
.delete-icon-button:hover {
  color: rgb(231, 9, 9);
}
 
.add-alarm-icon-button:hover {
  color: #9200b3;
}
 
/* Add any additional styles or overrides as needed */